<div class=' row g-3 p-4'>
  <h4>New Event</h4>
  <% if @event.errors.any? %>
      <label>
        <%= pluralize(@event.errors.count, "error") %> occured while creating your event:
      </label>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <%= render 'form' %>
</div>